body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:898px;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:898px;
}
#u1 {
  position:absolute;
  left:2px;
  top:441px;
  width:1301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#024675;
}
#u2 {
  position:absolute;
  left:70px;
  top:9px;
  width:190px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#024675;
}
#u3 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u4_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u4 {
  position:absolute;
  left:941px;
  top:128px;
  width:160px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u6 {
  position:absolute;
  left:946px;
  top:473px;
  width:160px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u7 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(92, 184, 92, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u8 {
  position:absolute;
  left:194px;
  top:99px;
  width:55px;
  height:21px;
  font-size:9px;
  color:#FFFFFF;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u10 {
  position:absolute;
  left:1080px;
  top:91px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u12_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0096DF;
}
#u12 {
  position:absolute;
  left:414px;
  top:15px;
  width:113px;
  height:30px;
  font-size:16px;
  color:#0096DF;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u14 {
  position:absolute;
  left:528px;
  top:15px;
  width:123px;
  height:30px;
  font-size:16px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:33px;
}
#u16 {
  position:absolute;
  left:19px;
  top:121px;
  width:820px;
  height:33px;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:368px;
}
#u18 {
  position:absolute;
  left:17px;
  top:154px;
  width:824px;
  height:368px;
}
#u19 {
  position:absolute;
  left:2px;
  top:176px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:26px;
  top:156px;
  width:518px;
  height:24px;
}
#u21 {
  position:absolute;
  left:2px;
  top:4px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u22 {
  position:absolute;
  left:941px;
  top:127px;
  width:160px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u23 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:878px;
  top:127px;
  width:286px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
