body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1305px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:898px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:1305px;
  height:898px;
}
#u26 {
  position:absolute;
  left:2px;
  top:441px;
  width:1301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#024675;
}
#u27 {
  position:absolute;
  left:70px;
  top:9px;
  width:190px;
  height:51px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:26px;
  color:#024675;
}
#u28 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u29 {
  position:absolute;
  left:941px;
  top:128px;
  width:160px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u30 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u31 {
  position:absolute;
  left:946px;
  top:473px;
  width:160px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
  background:inherit;
  background-color:rgba(92, 184, 92, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#FFFFFF;
}
#u33 {
  position:absolute;
  left:194px;
  top:99px;
  width:55px;
  height:21px;
  font-size:9px;
  color:#FFFFFF;
}
#u34 {
  position:absolute;
  left:2px;
  top:4px;
  width:51px;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#000000;
}
#u35 {
  position:absolute;
  left:1080px;
  top:91px;
  width:100px;
  height:30px;
  font-size:14px;
  color:#000000;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0096DF;
}
#u37 {
  position:absolute;
  left:414px;
  top:15px;
  width:113px;
  height:30px;
  font-size:16px;
  color:#0096DF;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:109px;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u39 {
  position:absolute;
  left:528px;
  top:15px;
  width:123px;
  height:30px;
  font-size:16px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:119px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:33px;
}
#u41 {
  position:absolute;
  left:19px;
  top:121px;
  width:820px;
  height:33px;
}
#u42 {
  position:absolute;
  left:2px;
  top:8px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:824px;
  height:368px;
}
#u43 {
  position:absolute;
  left:17px;
  top:154px;
  width:824px;
  height:368px;
}
#u44 {
  position:absolute;
  left:2px;
  top:176px;
  width:820px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:518px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:26px;
  top:156px;
  width:518px;
  height:24px;
}
#u46 {
  position:absolute;
  left:2px;
  top:4px;
  width:514px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:380px;
}
#u47 {
  position:absolute;
  left:862px;
  top:123px;
  width:318px;
  height:380px;
}
#u48 {
  position:absolute;
  left:2px;
  top:182px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:871px;
  top:370px;
  width:300px;
  height:170px;
}
#u50 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(238, 125, 55, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u51 {
  position:absolute;
  left:946px;
  top:298px;
  width:160px;
  height:30px;
  font-size:14px;
  color:#FFFFFF;
}
#u52 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 173, 78, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u53 {
  position:absolute;
  left:941px;
  top:127px;
  width:160px;
  height:30px;
  font-size:16px;
  color:#FFFFFF;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:156px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:878px;
  top:127px;
  width:286px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
